/* //////////////////////////////////////////////// */
/* GENERAL STYLES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --rock: hsl(5, 39%, 22%);
    --paper: hsl(91, 28%, 54%);
    --scissors: hsl(48, 60%, 60%);
}

body {
    font-family: monospace;
    color: #333;
    background-color: coral;
}

/* //////////////////////////////////////////////// */
/* CONTAINER AND HEADER */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 70vh;
    /* row-gap: 24px; */
}

h1 {
    font-size: 54px;
}

/* //////////////////////////////////////////////// */
/* SCOREBOARD STYLES */
.resultContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

h2 {
    font-size: 36px;
}

.scoreboard {
    font-size: 24px;
}

.result {
    font-size: 24px;
    font-weight: bold;
}

/* //////////////////////////////////////////////// */
/* BUTTONS */
.btns {
    display: flex;
    gap: 10px;
}

.btn, .new-game {
    font-family: inherit;
    font-weight: bold;
    color: #eee;
    padding: 8px 16px;
    border: none;
}

.btn {
    font-size: 48px;
}

.new-game {
    background: transparent;
    font-size: 24px;
    border-bottom: 1px solid rgb(79, 39, 35, .4);
    transition: all .1s;
}

.new-game:hover {
    transform: scale(1.1);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
}

.new-game:active {
    transform: scale(1);
    box-shadow: none;
}

/* //////////////////////////////////////////////// */
/* COLORS */
.rock-color {
    color: var(--rock);
}

.paper-color {
    color: var(--paper);
}

.scissors-color {
    color: var(--scissors);
}

.rock {
    background-color: var(--rock);
}

.rock:hover {
    background-color: hsl(5, 39%, 40%);
}

.paper {
    background-color: var(--paper);
}

.paper:hover {
    background-color: hsl(91, 28%, 44%);
}

.scissors {
    background-color: var(--scissors);
}

.scissors:hover {
    background-color: hsl(48, 60%, 50%);
}

.robot-win {
    color: hsl(0, 80%, 40%);
}

.tie {
    color: hsl(60, 100%, 50%);
}

.player-win {
    color: hsl(120, 80%, 40%);
}
